body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f8;
}

.navbar {
  background-color: #2c7be5;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 cards per row */
  gap: 30px;
  padding-left: 80px;
  align-items: center;
  margin-top: 120px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

/* Icon styling */
.card-icon {
  font-size: 30px;
  color: #2c7be5;
  margin-bottom: 10px;
}

.card-icon.active {
  color: #28a745;
}

.card h2 {
  /* margin: 0; */
  font-size: 40px;
  color: #2c7be5;
}

.card p {
  margin-top: 10px;
  color: #555;
  font-size: 16px;
}

.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 15px;
  /* space between buttons */
}

.floating-buttons button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-btn {
  background: #28a745;
}

.report-btn {
  background: #17a2b8;
}

.fab button:hover {
  opacity: 0.9;
}